<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Show</title>
</head>
<body>
    <h1>Add a New Show</h1>
    {% if messages %}
        {% for message in messages %}
            <p style="color: red;">{{message}}</p>
        {% endfor %}
    {% endif %}
    <form action="/shows/addshow" method="post">
        {% csrf_token %}
        Title <br>
        <input type="text" name="title" id="">
        <br>
        <p>Network</p> <p>Release                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       Date</p><br>
        <input type="text" name="network" id="">
        <input type="date" name="reldate" id="">
        <br>
        Description <br>
        <textarea name="desc" id="" cols="30" rows="7"></textarea>
        <br>
        <input type="submit" value="Create">
    </form>
</body>
</html>